header, footer {
    height: 100px;
} 
section, aside {
    height: 300px;
}



header {
    background: red;
}

main {
    display: flex;
}

section { 
    background: green;
    width: 80%;
}


aside {
    background: blue;
    width: 20%;
}

footer {
    background: yellow;
}