body {
  background: white;
  background-image: url("../images/erol-ahmed-186962.jpg");
  background-size: cover;
  font-family: helvetica Neue;
  text-align: center;


}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;


}
