body {
	margin: 0;
	background: #000; 
	display: flex;
	
	
  }

  #container {
	width: 95%;
	margin: 1% auto;
	max-width: 1200px;
}
  video { 
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: -100;
	  transform: translateX(-50%) translateY(-50%);
   background: url('../images/butter.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
  }
  .stopfade { 
	 opacity: .5;
  }
  
  .butter { 
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	background: rgba(0,0,0,0.3);
	color: white;
	padding: 16px;
	width: 40%;
	position:absolute;
	top:0;
	right:0;
	margin:64px;
	float: right;
	font-size: 19px;
  }
  h1 {
	font-size: 48px;
	text-transform: uppercase;
	margin-top: 0;
	letter-spacing: 5px;
  }
  .butter button { 
	font-family: 'Signika', sans-serif;
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	left:0;
	right:0;
	padding: 8px;
	border: none; 
	margin: 16px auto; 
	font-size: 20px;
	background: rgba(255,255,255,0.23);
	color: #fff;
	border-radius: 3px; 
	cursor: pointer;
	transition: .3s background;
  }
  .butter button:hover { 
	 background: rgba(0,0,0,0.5);
  }

  
  .length {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-weight:100; 
	background: rgba(0,0,0,0.3);
	color: white;
	padding: 32px;
	width: 33%;
	position:absolute;
	bottom: 0;
	left: 0;
	margin:32px;
	float: left;
	font-size: 19px;
  }
  

  #weight-type {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight:100; 
	background: rgba(0,0,0,0.3);
	color: white;
	padding: 32px;
	width: 75%;
	position: relative;
	bottom: 0;
	left: 0;
	
	
	font-size: 19px;

  }


  h1, h2, h3 {
	font-size: 28px;
	font-family: 'Signika', sans-serif;
	text-transform: uppercase;
	margin-top: 0;
	letter-spacing: 3px;
  }
  
  a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	background:rgba(0,0,0,0.5);
	padding: 5px;
	transition: .6s background; 
  }
  
  a:hover{
	background:rgba(0,0,0,0.9);
  }


.hide {
	display:none;
}

 article {
	

	
	background:none;
	background-size: 100%;
	overflow: hidden;
	padding-bottom: 200px;
	
	
 }
 article img {
	display: block;
	width: 100%;
}

.one {
	background: url(../images/snowboard_110.jpg) no-repeat;
	background-size: 100%;
}
.two {
	background: url(../images/snowboard_115.jpg) no-repeat;
	background-size: 100%;
}
.three {
	background: url(../images/snowboard_125.jpg) no-repeat;
	background-size: 100%;
}
.four {
	background: url(../images/snowboard_135.jpg) no-repeat;
	background-size: 100%;
}
.five {
	background: url(../images/snowboard_140.jpg) no-repeat;
	background-size: 100%;
}
.six {
	background: url(../images/snowboard_150.jpg) no-repeat;
	background-size: 100%;
}
.seven {
	background: url(../images/snowboard_160.jpg) no-repeat;
	background-size: 100%;
}
.eight {
	background: url(../images/snowboard_170205.jpg) no-repeat;
	background-size: 100%;
}
.nine {
	background: url(../images/snowboard_170205.jpg) no-repeat;
	background-size: 100%;
}
.ten {
	background: url(../images/snowboard_170205.jpg) no-repeat;
	background-size: 100%;
}
.eleven {
	background: url(../images/snowboard_170205.jpg) no-repeat;
	background-size: 100%;
}

 @media (max-width: 480px) {

	
	#container {
		width:100%;
	}


	.length {
		display: none;
		margin-top: 330px;
			width: 90%;
			box-sizing: border-box;
			border: none;
		}
		
	.butter {
		padding: 10px;
		margin-top: 70px;
		width: 80%;
		box-sizing: border-box;
		border: none;
  }
  

  }
  